* {
	padding: 0;
	margin: 0;
}
html, body {
	width: 100%;
	height: 100%;
}
.chess-wrap {
    position: relative;
    /*width: 602px;*/
    height: 80%;
    top: 50%;
    left: 50%;
    margin: -321px 0 0 -321px;
}
.chess-wrap table {
    position: absolute;
}
.broad {
    /*border: 1px solid #ccc;*/
    /*width: 602px;*/
    /*height: 602px;*/
    top: 0;
    left: 0;
}
.chess {
    border: 1px solid #eee;
    /*width: 562px;*/
    /*height: 562px;*/
    top: 20px;
    left: 20px;
}
.chess-wrap td {
	width: 38px;
	height: 38px;
}
.broad td {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*border: 1px solid #ccc;*/
}
.chess td {
	border: 1px solid #ddd;
}

